# Provide a name for your app, use only small letters and underscore
WP_APP_PREFIX=sample_name

# Provide a title for your website
WP_APP_NAME="Sample Name"

# Provide a port for your app. Default: 80
WP_APP_PORT=80

# Provide an IP of your web app
WP_APP_IP=127.0.0.1

# Provide a host that will be an URL for your app, eg. localhost, 127.0.0.1 or example.com
WP_APP_HOST=localhost

# Provide MySQL Database name
WP_MYSQL_DATABASE=wordpress

# Provide MySQL username for wordpress
WP_MYSQL_USER=wordpress

# Provide MySQL password for this user
WP_MYSQL_PASSWORD=wordpress

# Provide MySQL root user's password
WP_MYSQL_ROOT_PASSWORD=wordpress

# Provide username for admin account in Wordpress
WP_INIT_ADMIN_USERNAME=admin

# Provide password for admin account in Wordpress
WP_INIT_ADMIN_PASSWORD=admin

# Provide e-mail for website and admin account in Wordpress
WP_INIT_ADMIN_EMAIL=admin@example.org

# Provide plugin slugs or urls separated by space - details here: https://developer.wordpress.org/cli/commands/plugin/install/ 
WP_INIT_PLUGIN_LIST=""

# Provide theme's slug or url - details here: https://developer.wordpress.org/cli/commands/theme/install/ 
WP_INIT_THEME_SINGLE=""

# Provide locale for Wordpress installation. Default: en_US
WP_INIT_LOCALE=en_US